h2{
    color: red;
    text-align: center;
    background-color: aquamarine;
}
.div{
background-color: aquamarine;
text-align: center;
color: black;
}

p{
    size: 30;
    text-align: center;
}
